html {
    background-color: #121212;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* Default font for body text */
    color: #FFFFFF;
}

body:before {
    z-index: -1;
    position: fixed;
    inset: 0;
    margin: auto;
    width: min(100vw, 640px);
    height: min(100vh, 640px);
    background-image: url(/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    content: "";
    opacity: 0.2;
}

.container {
    max-width: 600px;
    max-height: 100vh;
    height: max-content;
    position: absolute;
    inset: 0;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    /* Specific font for headings */
    text-align: center;
    font-size: 4em;
}

p {
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 2em;
    text-align: center;
}

.discord-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
    background-color: #5865F2;
    /* Discord brand color */
    color: #FFFFFF;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.discord-link:hover {
    background-color: #4852C4;
    /* Slightly darker shade on hover */
}

.header {
    /* margin-top: 20vh; */
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}
.header h1 {
    margin: 0;
}